<div class="thread-wrapper">
  <div class="post-profile-wrapper">
    <div class="actions-dropdown btn-group">
      <button type="button" class="dropdown-toggle"
     data-toggle="dropdown"><span class="fa fa-chevron-down"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
        <li><a href="#">Flag</a></li>
      </ul>
    </div>
    {{voting/vote-on model=post type="post"}}
    <div class="voatable-content post-content">
      <p>{{post.content}}</p>
    </div>
    <div class="post-actions">
      <a {{action "toggleCommentAdd" on="click"}}>Add Comment</a>
    </div>
  </div>
  <div class="comments-wrapper">
    {{#if isAddingComment}}
      {{comments/comment-create parent=parent}}
    {{/if}}
  {{comments/comment-list comments=post.comments parent=post}}
  </div>
</div>
