<div class="vote-wrapper">
  <a class="vote-up {{isVotedUp}}" {{action "upvote"}}><i class="fa fa-chevron-up"></i></a>
  <span class="vote-count">{{model.vote_count}}</span>
  <a  class="vote-down {{isVotedDown}}" {{action "downvote"}}><i class="fa fa-chevron-down"></i></a>
</div>
